{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.inputmask.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/media/css/style.css">
</head>
<body>
	<section id='Main'>
		<div class="main_container">
			<div class="main_header">
				<a href="">
                    Edit
				</a>
                <a href="/" class="back"><span class="glyphicon glyphicon-arrow-left"></span>BACK</a>
			</div>
                <form method="POST" action="" class="post-form">{% csrf_token %}
    {{ form|crispy }}
        <input type="submit" class="btn btn-info main_submit" value="Сохранить">
    </form>

	</section>

    <script type="text/javascript">
    $(document).ready(function() {
        $("#id_phone_number").inputmask("+380(99)999-99-99")
    });
    </script>
</body>
</html>